if user
  div.ui.comments
    if problem.answers && problem.answers.length>0
    - for answer in answers
        div.comment
          a.avatar
            if (user.avatar.substr(0,5) === 'https')
              img(src='#{user.avatar}')
            else
              img(src='/img/#{user.avatar}')
          div.content.comment-text
            a.author(href='/user?author=#{problem.author._id}',data-title='#{problem.author.name}',data-content='#{problem.author.bio}')  #{problem.author.name}
            div.metadata
              span.date #{answer.created_at}
            div.text!=answer.content